@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700&display=swap);

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-weight: 500;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper>main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper>* {
  min-width: 0;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header__container {
  height: 100vh;
}

.main_image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.title {
  position: relative;
  width: 320px;
  margin: 0px auto;
  top: 10vh;
  text-align: center;
  line-height: 120%;
  -webkit-animation: screensaver 5s ease forwards;
          animation: screensaver 5s ease forwards;
  color: #000;
}

.title_first {
  margin-left: calc(0px - 1.3888888889vw);
}

.title_second {
  position: relative;
  display: inline-block;
}

.title_second::before {
  content: " ";
  position: absolute;
  top: 50%;
  right: 80px;
  background-color: #000;
  width: 400%;
  height: 2px;
}

.title_second::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 80px;
  background-color: #000;
  width: 400%;
  height: 2px;
}

@-webkit-keyframes screensaver {
  from {
    line-height: 100%;
    font-size: calc(30px + 2.0833333333vw);
    letter-spacing: 90%;
    opacity: 0;
  }

  to {
    line-height: 120%;
    font-size: calc(36px + 2.5vw);
    letter-spacing: .5rem;
    opacity: 1;
  }
}

@keyframes screensaver {
  from {
    line-height: 100%;
    font-size: calc(30px + 2.0833333333vw);
    letter-spacing: 90%;
    opacity: 0;
  }

  to {
    line-height: 120%;
    font-size: calc(36px + 2.5vw);
    letter-spacing: .5rem;
    opacity: 1;
  }
}

body {
  background-color: #ffdab9;
}

.off {
  opacity: 0;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: opacity 3s ease,-webkit-transform 3s ease;
  transition: opacity 3s ease,-webkit-transform 3s ease;
  transition: opacity 3s ease,transform 3s ease;
  transition: opacity 3s ease,transform 3s ease,-webkit-transform 3s ease;
}

.page {
  color: #000;
  text-align: center;
  font-size: calc(20px + 1.3888888889vw);
  line-height: 130%;
}

.page__title {
  padding: 6.25rem 0;
}

.page__date {
  line-height: 150%;
}

.page__congratulation {
  position: relative;
  padding: 5rem 0;
  display: inline-block;
}

.page__WH {
  padding: 5rem 0 2.5rem 0;
}

.page__place {
  padding: 0 0 3.75rem 0;
}

.page__guests {
  padding: 0 0 5rem 0;
}

.page__DC {
  padding: 2.5rem 0;
}

.on {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.data__number {
  font-size: calc(30px + 2.0833333333vw);
  padding: 0 0.625rem;
}

.data__year {
  font-size: calc(30px + 2.0833333333vw);
  padding: 0 0.625rem;
}

.slider {
  margin: 0;
}

.image {
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: calc(620px + 23.4375vw);
}

.no-webp .last-message{
  background-image: url("../img/decor/break.png"); }

.last-message {
  margin-top: -3rem;
  color: #000;
  text-align: center;
  height: 34.375rem;
  width: 100%;
  font-size: calc(20px + 1.3888888889vw);
  line-height: 130%;
  letter-spacing: 0.3125rem;
}

.last-message__first-title {
  margin: calc(40px + 1.3888888889vw) auto;
}

.survey {
  margin-top: 3.75rem;
  color: #000;
  text-align: center;
  font-size: calc(20px + 1.3888888889vw);
  line-height: 130%;
  letter-spacing: 1px;
}

.survey__title {
  background-color: #f4d4d9;
}

.survey__title_nameSurename {
  background-color: #f4d4d9;
  padding-bottom: calc(20px + 1.3888888889vw);
}

.survey__title_input {
  background-color: #f4d4d9;
  display: inline-block;
  padding: calc(40px + 1.3888888889vw);
  padding-left: calc(0px + 4.1666666667vw);
  font-size: calc(14px + 1.3888888889vw);
  width: calc(100% + 10.4166666667vw);
  text-align: center;
  color: #000;
}

.survey__choose {
  display: inline-block;
  position: relative;
}

.survey__choose::before {
  content: " ";
  position: absolute;
  top: -80%;
  left: -60%;
  background-color: #000;
  width: 220%;
  height: 2px;
}

.survey__options {
  margin: 40px 0 0 calc(0px + 17.3611111111vw);
  text-align: start;
}

input:focus {
  outline: none;
}

.options__input {
  display: none;
}

.options__label {
  padding: 1.25rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  line-height: 140%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: calc(14px + 1.25vw);
}

.options__label::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  height: 24px;
  background-color: gray;
  border-radius: 50%;
  margin: 15px 20px 0 0;
}

.options__label::after {
  -webkit-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
  content: "";
  position: absolute;
  top: 40px;
  left: 25px;
  width: 14px;
  height: 14px;
  background-color: pink;
  border-radius: 50%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.options__input:checked+.options__label::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.form__button {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
  background-color: #f1768a;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 20px;
  margin: calc(30px + 1.3888888889vw) 0;
  -webkit-box-shadow: 0 5px 0 #30171b;
          box-shadow: 0 5px 0 #30171b;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: background-color .5s ease 0s;
  transition: background-color .5s ease 0s;
  position: relative;
  top: 0;
  margin: 40px 0 100px calc(0px + 17.3611111111vw);
}

.form__button:hover {
  background-color: #9a4c59;
}

.form__button:active {
  top: 3px;
  -webkit-box-shadow: 0 2px 0 #30171b;
          box-shadow: 0 2px 0 #30171b;
}

.webp .last-message{ background-image: url(../img/decor/break.webp); }