//====================================================================================================
.off{
   opacity: 0;
   transform: translateY(20px);
   transition: opacity 3s ease, transform 3s ease;
}
.page {
   color:black;
   text-align: center;
   font-size: calc(14px + 18 * (100vw / 1440));
   line-height: 130%;
   
   //animation: screensaver 5s ease forwards;
   &__container {
      padding:0 rem(200);
   }

   // .page__title

   &__title {
      padding: rem(100) 0;
   }

   // .page__date

   &__date {
      line-height: 150%;
      //letter-spacing: 1rem;
   }

   // .page__congratulation

   &__congratulation {
      position:relative;
      padding: rem(80) 0 ;
      display:inline-block;
   }
   &__congratulation::after{
      content: " ";
      bottom:10%;
      right: 16%;
      width: 400px;
      height: 1px;
      position:absolute;
      background-color: black;
   }
   // .page__WH

   &__WH {
      padding: rem(80) 0 rem(40) 0;
   }

   // .page__place

   &__place {
      padding: 0 0 rem(60) 0;
   }

   // .page__guests

   &__guests {
      padding: 0 0 rem(80) 0;
   }

   // .page__DC

   &__DC {
      padding:rem(40) 0;
   }

   // .page__clother

   &__clother {
   }
}
.on{
   opacity: 1;
   transform: translateY(0);
}
.data {

   // .data__number

   &__number {
      font-size: 7vh;
      padding: 0 rem(10);
   }
   &__year{
      font-size: 7vh;
      padding: 0 rem(10);
   }
}
.slider {
      margin: 0;
      //background-color: grey;
      //display:flex;
      //flex-direction: column;
   }
.slide-main-block {
}
.image{
   display: inline-block;
   //margin: 0 2%;
   //text-align: center;
   object-fit: cover;
   width: 100%;
   
   //height: rem(740);
   height:calc(620px + 300 * (100vw / 1280));
}
.last-message {
   margin-top:rem(-48);
   //margin-right: rem(-200);
   color: black;
   text-align: center;
   height: rem(550);
   background-image: url("../img/decor/break.png");
   width: 100%;
   font-size: rem(40);
   line-height: 130%;
   letter-spacing: rem(5);
   // .last-message__image

   // &__image img{
   //    position: absolute;
   //    object-fit: cover;
   //    width:100%;
   //    height: rem(500);
   // }

   // .last-message__first-title

   &__first-title {
      margin: rem(80) auto;
   }

   // .last-message__second-title

   &__second-title {
      
   }
}
.last-messsage {

   // .last-messsage__content

   &__content {
      
   }
}
.survey {
   margin-top:rem(60);
   color:black;
   text-align: center;
   font-size: calc(14px + 18 * (100vw / 1440));
   line-height: 130%;
   letter-spacing: 1px;
   // .survey__title

   &__title {

      // .survey__title_nameSurename

      &_nameSurename {
         padding-bottom: rem(40);
      }

      // .survey__title_input

      &_input {
         display:inline-block;
         padding: rem(60);
         font-size: calc(14px + 18 * (100vw / 1440));
         width:60%;
         text-align: center;
         //background-color: transparent;
         color:black;
         
      }
     
   }

   // .survey__choose

   &__choose {
      display: inline-block;
      position:relative;
   }
   &__choose::before{
      content: " ";
      position: absolute;
      top:-80%;
      left:-60%;
      background-color: black;
      width: 220%;
      height: 2px;


   }
   // .survey__options

   &__options {
      margin:40px  0 0 250px;
      text-align: start;
   }
}
input:focus {outline: none;}
.options {

   // .options__item

   &__item {
   }

   // .options__input

   &__input {
      display:none;
   }

   // .options__label

   &__label {
      padding:rem(20);
      display: inline-flex;
      line-height: 140%;
      align-items:center;
      position: relative;
      font-size: calc(14px + 18 * (100vw / 1440));
   }
   &__label::before{
      content: "";
      flex:0 0 24px;
      align-self: flex-start;
      height: 24px;
      background-color: grey;
      border-radius: 50%;
      margin:15px 20px 0 0;
   }
   &__label::after{
      transition: all 0.5s ease 0s;
      content: "";
      position: absolute;
      top:40px;
      left:25px;
      width: 14px;
      height: 14px;
      background-color: pink;
      border-radius: 50%;
      transform: scale(0);
   }
}
.options__input:checked + .options__label::after{
   transform: scale(1);

}

//====================================================================================================
